{% extends "layout.html" %}

{% block style %}
  #accentbox {
    position: absolute;
    width: 15vmin;
    height: 15vmin;
    left: 15vw;
    top: 15vh;
    border-radius: 50%;
    background: #85BAA1;
  }
  #pageTitle {
    color: #85BAA1;
  }
  #pageDescription {
    color: #CECECE;
  }

  #jumpTo {
    font-family: Roboto;
    text-align: center;
    font-size: 5vh;
  }
  #projectsList {
    font-size: 2vh;
    text-align: center;
  }

  .jumpDown {
    text-decoration: none;
    color: white;
  }
  .projectName {
    list-style-type: none;
    padding: 25px;
    width: 150px;
    display: inline-block;
  }

  .project {
    padding: 25px;
  }
{% endblock style %}

{% block titles %}
<h1 id="pageTitle">Examples</h1>
<h2 id="pageDescription">What I've been up to</h2>
{% endblock titles %}

{% block content %}


  <div id="content">
    <h1 id="jumpTo">Jump to:</h1>
    <ul id="projectsList">
      <a href="#pythonLogbook" class="jumpDown">
        <li class="projectName">Python Logbook</li></a>
      <a href="#myWebsite" class="jumpDown">
        <li class="projectName">My Website</li>
    </ul>

  {% for example in examples %}
    <div class="project">
      <h1>{{ example.title }}</h1>
      <p>{{ example.date_started }}</p>
      <p>{{ example.description }}</p>
      <p>Github: <a href="{{ example.github_link }}">{{ example.github_link }}</a></p>
      <p>Live Site: <a href="{{ example.live_link }}">{{ example.live_link }}</a></p>
    </div>
  {% endfor %}


    <div id="myWebsite" class="project">
      <h1>My Website</h1>
      <p>Date started - 9/12/2019</p>
      <p> You're already here! I really like this website and am proud of the design
        that I created. I designed the site using Figma. This project also was the first time that
        I used Github. While creating this website I learned how to upload files to Github and use
        command-line git to manage my project. I learned how to use forks and how to push, pull, fetch
        and merge. I also learned how to use github pages to host my
        site.</p>
      <p>Github: <a href="https://github.com/lukew3/lukew3.github.io">https://github.com/lukew3/lukew3.github.io</a></p>
      <p>Live Site: <a href="https://lukew3.github.io/">https://lukew3.github.io/</a></p>
    </div>
  </div>
{% endblock content %}
