{% extends "layout.html" %}

{% block style %}
  #accentbox {
    position: absolute;
    width: 15vmin;
    height: 15vmin;
    left: 15vw;
    top: 15vh;
    border-radius: 50%;
    background: #85BAA1;
  }
  #pageTitle {
    color: #85BAA1;
  }
  #pageDescription {
    color: #CECECE;
  }

  #jumpTo {
    font-family: Roboto;
    text-align: center;
    font-size: 5vh;
  }
  #projectsList {
    font-size: 2vh;
    text-align: center;
  }

  .jumpDown {
    text-decoration: none;
    color: white;
  }
  .projectName {
    list-style-type: none;
    padding: 25px;
    width: 150px;
    display: inline-block;
  }

  .project {
    padding: 25px;
  }
{% endblock style %}

{% block titles %}
<h1 id="pageTitle">Examples</h1>
<h2 id="pageDescription">What I've been up to</h2>
{% endblock titles %}

{% block content %}


  <div id="content">
    <h1 id="jumpTo">Jump to:</h1>
    <ul id="projectsList">
      <a href="#pythonLogbook" class="jumpDown">
        <li class="projectName">Python Logbook</li></a>
      <a href="#myWebsite" class="jumpDown">
        <li class="projectName">My Website</li>
    </ul>

  {% for example in examples %}
    <div class="project">
      <h1>{{ example.title }}</h1>
      <p>Started on {{ example.date_started }}</p>
      <p>{{ example.description }}</p>
      {% if example.github_link != None %}
        <p>Github: <a href="{{ example.github_link }}">{{ example.github_link }}</a></p>
      {% endif %}
      {% if example.live_link != None %}
        <p>Live Site: <a href="{{ example.live_link }}">{{ example.live_link }}</a></p>
      {% endif %}
    </div>
  {% endfor %}

{% endblock content %}
